%section.jumbotron.text-center
  .container
    %h1.jumbotron-heading #{@new_user.email}
    %br
    %p.lead.text-muted Below is the inventory of available equipment for #{@new_user.email}.
    .d-flex.justify-content-center
      .btn-toolbar{"aria-label" => "Toolbar with button groups", :role => "toolbar"}
        .btn-group.mr-2{"aria-label" => "First group", :role => "group"}
          %a= link_to "Back To All Items", items_path, :class => 'btn btn-light my-2'
        .btn-group.mr-2{"aria-label" => "Second group", :role => "group"}
          .dropdown
          %button#dropdownMenuButton.btn.btn-secondary.my-2.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"} Sort By:
          .dropdown-menu{"aria-labelledby" => "dropdownMenuButton"}
            %a.dropdown-item{:href => "#"} Price (Low - High)
            %a.dropdown-item{:href => "#"} Price (High - Low)
            %a.dropdown-item{:href => "#"} Manufacturer (A-Z)
            %a.dropdown-item{:href => "#"} Manufacturer (Z-A)
-items = Item.select { |item| item.user_id == @new_user.id }
.album.py-5.bg-light
  .container
    .row
      - items.each do |x|
        .card{:style => "width: 22rem;"}
          .card-header= link_to "#{x.manufacturer} #{x.model}", item_path(x), :class => 'btn btn-outline-secondary'
          %img.card-img-top{:alt => "Card image cap", :width => "240", :height => "320", :src => "#{x.photo_link}"}
            .card-body
              %p.card-text= "#{x.description}"
              .d-flex.justify-content-between.align-items-center
                .btn-group
                  %a= link_to "Show Item", item_path(x), :class => 'btn btn-default btn-sm'
                  - if current_user&.id == x.user_id
                    %a= link_to "Edit Item", edit_item_path(x), :class => 'btn btn-default btn-sm'
                    %a= link_to "Delete Item", item_path(x), method: :delete, data: { confirm: "Are you sure you'd like to delete?" }, :class => 'btn btn-danger btn-sm'
                %small.text-muted= "$" + x.price.to_s

