%section.jumbotron.text-center
  .container
    %h1.jumbotron-heading List of Equipment
    %p.lead.text-muted Below is the entire inventory of available equipment.
    %p
      %a= link_to "Add a new item", new_item_path, :class => 'btn btn-primary my-2'

- @items.each do |x|
  %p
    %span= x.id
    %span= x.model
    %span= x.serial_number
    %a= link_to "Edit Item", edit_item_path(x), :class => 'btn btn-default'
    %a= link_to "Show Item", item_path(x), :class => 'btn btn-default'
    %a= link_to "Delete Item", item_path(x), method: :delete, data: { confirm: "Are you sure you'd like to delete?" }, :class => 'btn btn-danger'
