%section.jumbotron.text-center
  .container
    %h1.jumbotron-heading #{@new_item.manufacturer} #{@new_item.model}
    %h3.text.muted $#{@new_item.price.to_s}
    %br
    .btn-group
      %a= link_to "Back to List", items_path(@new_item), :class => 'btn btn-default btn-sm'
      %a= link_to "Edit Item", edit_item_path(@new_item), :class => 'btn btn-default btn-sm'
      %a= link_to "Delete Item", item_path(@new_item), method: :delete, data: { confirm: "Are you sure you'd like to delete?" }, :class => 'btn btn-danger btn-sm'
.container
  .text-center
    %img.img-fluid{:alt => "Responsive image", :src => "#{@new_item.photo_link}"}
    .text-center
      %br
      = "Description: " + @new_item.description
      %br
      %br
      = "Serial Number: " + @new_item.serial_number
