%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MusicSales
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-light.bg-light
      %span
        .navbar-brand.mb-0.h1 Sell Yo Shit
        %a.btn.btn-secondary.btn-sm{:href => "#{items_path}"} Shit thats fo sale
      %span
        Hello, #{current_user&.email || "anonymous person"}
        - if user_signed_in?
          %a.btn.btn-danger.btn-sm{"data-method" => "delete", :href => "#{destroy_user_session_path}"}
            Log Out
          %a.btn.btn-primary.btn-sm{:href => "#{profile_users_path}", :params => current_user.id}
            Profile Page
        - else
          %a.btn.btn-primary.btn-sm{:href => "#{new_user_session_path}"}
            Log In
          - if controller_name != 'registrations'
            %a.btn.btn-secondary.btn-sm{:href => "#{new_user_registration_path}"} Sign Up
          - if controller_name != 'items' && controller_name != 'welcome'
            %a.btn.btn-secondary.btn-sm{:href => "#{items_path}"} Item List
    - if flash[:notice]
      .alert.alert-secondary{:role => "alert"}= flash[:notice]
    - if flash[:success]
      .alert.alert-success{:role => "alert"}= flash[:success]
    - if flash[:alert]
      .alert.alert-danger{:role => "alert"}= flash[:alert]
    - if flash[:error]
      .alert.alert-danger{:role => "error"}= flash[:error]
    #payment_error.alert.alert-danger{ style: 'display:none' }
    = yield

= javascript_include_tag 'https://js.stripe.com/v3/'
:javascript
  $(document).ready( function() {
    var stripe = Stripe('pk_test_rjQuHtsUARhmYRHJ7EmTCRte00BKR4kKep')
    if($("#payment_form").length) {
      var elements = stripe.elements();
      var style = {
        base: {
          fontSize: '16px',
          color: "#32325d",
        }
      };
      var card = elements.create('card', {style: style});
      card.mount('#payment_form');
      $("form").submit(function(e) {
        e.preventDefault();
        console.log(e);
        var $self = this;
        stripe.createToken(card).then(function(result) {
            console.log(result);
            if (result.error) {
              $("#payment_error").html(result.error.message);
              $("#payment_error").show();
              $(':submit').first().attr("disabled", false);
              console.log('oops');
            } else {
              $("#stripe_token").val(result.token.id);
              console.log(self);
              debugger;
              $(self).submit();
            }
          });
      });
    }
  } );

