<!DOCTYPE html>
<html>
  <head>
    <title>MusicSales</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Sell Yo Shit</span>
    <span> Hello, <%= current_user&.email || "anonymous person"%>
      <% if user_signed_in? %>
        <a data-method="delete" class="btn btn-danger btn-sm" href=" <%=destroy_user_session_path%>">  Log Out
        </a>
      <% else %>
        <a class="btn btn-primary btn-sm" href=" <%=
        new_user_session_path%>">  Log In
        </a>
    <% end %>
  </span>
    </nav>
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
